.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.App-link {
  color: #007bff;
  text-decoration: none;
}

.App-link:hover {
  text-decoration: underline;
}
